
CrawlCafefData/AdapterRegex/bin/
CrawlCafefData/AdapterRegex/obj/
CrawlCafefData/.vs/
CrawlCafefData/CrawlCafefData/bin/
CrawlCafefData/CrawlCafefData/obj/
CrawlCafefData/Stock.Database/bin/
CrawlCafefData/Stock.Database/obj/
CrawlCafefData/Stock.Domain/bin/
CrawlCafefData/Stock.Domain/obj/
