
SIM/AdapterRegex/bin/
SIM/AdapterRegex/obj/
SIM/.vs/
SIM/CrawlCafefData/bin/
SIM/CrawlCafefData/obj/
SIM/SIM.Database/bin/
SIM/SIM.Database/obj/
SIM/SIM.Domain/bin/
SIM/SIM.Domain/obj/
SIM/SIM.Crawl/bin/
SIM/SIM.Crawl/obj/